/* body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.842),rgba(0, 0, 0, 0.842)),url(./Shram-sevak.png);
    background-position: center;
    background-size: cover; 

} */
.card-container{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.842),rgba(0, 0, 0, 0.842)),url(./Shram-sevak.png); */
    background-position: center;
    background-size: cover; 
}